fastapi
uvicorn
groq
langgraph
python-dotenv
elevenlabs
requests
chromadb>=0.5.0
duckduckgo-search
bcrypt
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
pydantic[email]
python-multipart
pydantic-settings